<!doctype html>
<html lang="en">
  <head>
    <script src="routes/route.js"></script> 
    <% include partials/head.ejs %>
  </head>
  <body>

    <div class="container-fluid"> 
        <% include partials/navigation.ejs %>


    <!-- Full Page Intro -->
    </header>

        
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>

        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" style="width: 1%">#</th>
              <th scope="col" style="width: 1%">Star</th>
              <th scope="col" style="width: 20%">Title</th>
              <th scope="col" style="width: 70%">Description</th>
              <th scope="col" style="width: 7%">CreatedDate</th>
              <th scope="col" style="width: 1%">Complete</th>
            </tr>
          </thead>
          <tbody>

            <% for (var i = 0; i < links.length; i++){ %>
              <tr>
                <th scope="row"><%= links[i].linkId %></th>
                <th scope="row"><%= links[i].star %></th>
                <td>
                  <a href= <%= links[i].url %>><%= links[i].title %></a>
                </td>
                <td><%= links[i].detail %></td>
                <td><%= links[i].createdDate %></td>
                <td><%= links[i].complete %></td>
              </tr>             
            <% } %>

          </tbody>
        </table>
    </div>
  
  </body>
    <% include partials/script.ejs %>
</html>

